.gallery__wrapper {
  width: 1440px;
  height: 1020px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgba(252, 73, 88, 0.5);
  border: 2px solid rgb(252, 73, 88);
}

@media (max-width: 1439px) {
  .gallery__wrapper {
    height: 375px;
    width: 375px;
  }
}